*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
}
.sim{
    color: rgb(135, 35, 235);
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
.rec{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive ;
}
.menu{
    display: flex;
    gap: 60px;
}
.home{
    padding: 5px 0;
    display: flex;
    gap: 20px;
}
.home a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}
.home a:hover{
    color: blue;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 300px;
}
button{
    background-color: rgb(90, 50, 203);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    margin: 7px 0;
    border-radius: 4px;
}
.hero-section{
    display: flex;
    margin: 20px 0;
    gap: 60px;
    padding: 0 300px;
}
img{
    border-radius: 4px;
}
.text1{
    font-size: 50px;
}
.text2, .text3{
    margin: 20px 0;
    color: rgb(149, 147, 147);
    font-size: 20px;
}
.box1{
    margin: 70px 0;
}
.box3 p{
    text-transform: capitalize;
    font-size: 17px;
}
.box4{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-row-gap: 20px;
}
.text4{
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;
}
main{
    margin: 50px 0;
    padding: 0 300px;
}
footer{
    background-color: black;
    color: white;
    height: 100px;
}
footer p{
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}
span{
    color: rgb(90, 50, 203) ;
}