*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
}
.sim{
    color: rgb(135, 35, 235);
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
.rec{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive ;
}
.menu{
    display: flex;
    gap: 60px;
}
.home{
    padding: 5px 0;
    display: flex;
    gap: 20px;
}
.home a{
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}
.home a:hover{
    color: blue;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 300px;
}
button{
    background-color: rgb(90, 50, 203);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    margin: 7px 0;
    border-radius: 4px;
}
.image{
    padding: 0 300px;
}
.image img{
    border-radius: 4px;
}
.image a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}
footer{
    background-color: black;
    color: white;
    height: 100px;
    margin: 450px 0;
}
footer p{
    text-align: center;
    padding: 40px 0;
    font-size: 18px;
}
span{
    color: rgb(90, 50, 203) ;
}